
@{
    ViewBag.Title = "HoaDon";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

@{
    Petshop.Areas.User.Models.UserContent db = new Petshop.Areas.User.Models.UserContent();
    var cus = db.KHACHHANGs.Find(Session["Phone"]);
}
<!-- Start All Title Box -->

    <div class="all-title-box">
        <img src="~/images/banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active">Hóa đơn</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->
</br>
    <div class="container">
        <div class="alert alert-danger">
            Hình thức thanh toán: chỉ nhận tiền mặt khi giao hàng.
        </div>
        <div class="col-sm-6 col-lg-9 mb-3">
            <div class="row">
                <div class="col-lg-6">
                    <div class="alert alert-success">
                        <div class="alert-heading">
                            MÃ HÓA ĐƠN: @Session["MHD"]
                        </div>
                        <div class="alert alert-body">
                            <p>
                                Họ và tên khách: @cus.HoTen<br />
                                Số điện thoại: @Session["Phone"]<br />
                                Email: @cus.Email<br />
                                Địa chỉ: @cus.DiachiKH<br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="alert alert-danger">
                        <div class="alert-heading">
                            CHỦ CỬA HÀNG
                        </div>
                        <div class="alert-body">
                            <p>
                                Tên chủ: <br />
                                MSSV: <br />
                                Email: <br />
                                Địa chỉ: 
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <div class="order-box">
                        <div class="title-left">
                            <h3>Your order</h3>
                        </div>
                        <div class="table-main table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Hình</th>
                                        <th>Tên sản phẩm</th>
                                        <th>Giá bán</th>
                                        <th>Số lượng</th>
                                        <th>Thành tiền</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 0;
                                        int tong = 0;
                                    }
                                    @foreach (var item in db.CT_DAT_HANG.SqlQuery("Select * from CT_DAT_HANG Where MaDH ='" + Session["MHD"] + "'"))
                                    {
                                        i++;
                                        string name = @item.THONGTIN_PET.ANH + ".jpg";
                                        <tr>
                                            <td>@i</td>
                                            <td class="thumbnail-img">
                                                <a href="#">
                                                    <img class="img-fluid" src="~/images/@name" alt="" />
                                                </a>
                                            </td>
                                            <td class="name-pr">
                                                @item.THONGTIN_PET.TenP
                                            </td>
                                            <td class="quantity-box">
                                                @* số lượng *@
                                                @item.SoLuong
                                            </td>
                                            <td class="price-pr">
                                                <p>@Int32.Parse(item.DonGia).ToString("#,##0") VNĐ </p>
                                            </td>
                                        </tr>
                                        tong += Int32.Parse(item.DonGia);
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>